<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sezshwan-Log-in</title>
</head>
<body>

  <h2>Log in</h2>

  <!-- form -->

  <form action="/home" method="post">
    
    <input type="text" name="name" placeholder="name" required>
    <input type="password" name="password" placeholder="password" required>
    <button type="submit">Login</button>

  </form>
  
  <a href="/signup">Dont have an account ? Create a new one !</a>

  <a href="/admin">Welcome admins</a>

  
  

</body>
</html>